/* Container Styling */

.stockstable-container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #234110;
  }

  /* Container for filters */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

/* Styles for select elements */
.filter-select {
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  color: #234110;
  outline: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
  transition: all 0.3s ease;
}

/* .filter-select:hover {
  border-color: #bbb;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
} */

/* .filter-select:focus {
  border-color: #84BC62;
  box-shadow: 0 0 5px #84BC62;
} */

/* Responsive behavior */
@media (max-width: 768px) {
  .filter-select {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}

@media (max-width: 480px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }
}

  .data-container, .search-container{
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease-in-out;
  }

  .data-container h2 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* .dashboard-hr {
    width: 60%;
    margin: 0 auto 20px;
    border: none;
    border-top: 2px solid #dcdcdc
  } */
  
  .table-container {
    overflow-x: auto;
  }
  
  /* Table Styling */
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  
  th {
    background-color: #e6f0e0;
    color: #234110;
    font-weight: bold;
  }
  
  tr:nth-child(even) td {
    background-color: #f2f2f2;
  }
  
  tr:hover td {
    background-color: #e8e8e8;
  }
  
  /* Status Indicators */
  td[data-status="PASS"] {
    color: #1c8d1c;
    font-weight: bold;
  }
  
  td[data-status="FAIL"] {
    color: #d9534f;
    font-weight: bold;
  }
  
  /* No Data Message */
  .no-tasks {
    font-size: 2rem;
    color: #f0e5e5;
    text-align: center;
    margin-top: 20px;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  