.admin-container {
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* File Upload */
.file-upload-container {
  margin: auto;
  border-radius: 8px;
  text-align: center;
  background-color: azure;
  max-width: 500px;
  padding: 1rem;
}

/* Filters */
.filters-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.search-input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-input {
  width: 300px;
}

/* Table */
.table-container {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.table-header {
  display: flex;
  background: #cee2a8;
  color: #222c22;
  padding-right: 1rem;
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.table-cell {
  flex: auto;
  padding: 8px;
  text-align: left;
  width: 0;
}

/* Status Colors */
.PASS, .Compliant {
  color:#28a745;
}

.FAIL, .Non-Compliant {
  color:#dc3545;
}

.information{
  color: #e0e9d0;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  .filters-wrapper {
    flex-direction: column;
    align-items: center;
  }
}