.admin-container {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
  max-width: 95%;
}

/* File Upload */
.file-upload-container {
  margin: auto;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  padding: 1rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for a modern look */
}

/* File Upload Input */
.file-upload-input {
  width: 100%;
  padding: 10px;
  border: 2px dashed #22682b; /* Dashed border to indicate drag-and-drop */
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.file-upload-input:hover {
  border-color: #0056b3; /* Darker blue on hover */
}

/* File Upload Button */
.file-upload-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #cee2a8; /* Blue button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.file-upload-btn:hover {
  background: #76be76; /* Darker blue on hover */
}
/* Filters */
.filters-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.search-input, select {
  padding: 10px;
  border-radius: 7px;
  border:none;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 30%);
}

.search-input {
  width: 300px;
}

/* Table */
.table-container {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.table-header {
  display: flex;
  background: #cee2a8;
  color: #222c22;
  padding-right: 1rem;
  /* font-size: small; */
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.table-cell {
  flex: auto;
  padding: 8px;
  text-align: left;
  width: 0;
  font-size: small;
}

/* Status Colors */
.PASS, .Compliant {
  color:#28a745;
}

.FAIL, .Non-Compliant {
  color:#dc3545;
}

.information{
  color: #e0e9d0;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Responsive */
@media (max-width: 768px) {
  .filters-wrapper {
    flex-direction: column;
    align-items: center;
  }
}