.create-basket{
    background: rgb(255, 255, 255);
    color: #6a9e4a;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem
}
.basket-portion{
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 400px;
    border-radius: 0.5rem;
    border: none;
}
.basket-delete{
    background: none;
    border: none;
    color:rgb(250, 94, 94);
}
.basket-portionleft{
    /* padding-right: 2rem; */
    text-align: left;
}
.basket-portionright{
    /* padding-left: 2rem; */
    text-align: right;


}
.basket-stocks{
    cursor: pointer;
}

.search-basket-container{
    position: relative;
    padding-top:1rem;
    padding-bottom:1rem;
    width: 100%;
    max-width: 530px;
  }
  .search-basket-container i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(64, 139, 34); /* Placeholder icon color */
    pointer-events: none; /* Make the icon unclickable */
  }

  .search-basket-container input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem; /* Add padding-left for the icon */
    border-radius: 0.5rem;
    text-align: center;
    border: none;
  }

  .search-basket-container input::placeholder {
    text-align: center;
  }
.basket-list{
  height: 460px;
  overflow-y: auto;
  overflow-x: hidden;
}