/* Tab Container */
.tab-container {
    display: flex;
    justify-content: center;
    background-color: #3c574c;
    position: fixed;
    left: 0;
    right: 0;
    top: 55px;
    z-index: 1000;
  }

  .tab-content{
    margin-top: 7.5rem;
  }
  
  /* Individual Tab Styling */
  .tab {
    padding: 0.8rem 2rem;
    margin: 0 1rem;
    font-size:large;
    color: #c3d3cd;
    cursor: pointer;
    position: relative;
    transition: color 0.3s;
  }
  
  .tab:hover {
    color: #84BC62;
  }
  
  /* Active Tab Styling with Underline */
  .active-tab {
    color: #ffffff;
  }
  
  .active-tab::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #ffffff;
    border-radius: 3px;
  }
  
  /* Responsive Tab Styling */
  @media (max-width: 768px) {
    .tab {
      padding: 0.6rem 1rem;
      font-size: 1rem;
    }
  }
  