.alias{
    color: #6a9e4a;
}
.navbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    z-index: 1000; /* Ensure it's above other content */
}