* {
    font-family: Poppins, sans-serif;
}

img {
    height: 50px;
    object-fit: contain;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    padding: 2rem;
    width: 100%;
    max-width: max-content;
    background: #ffffff;
    border: 1px solid #84BC62;
    box-shadow: 7px 7px #e3f3d9;
    border-radius: 1rem;
    animation: fadeIn 1s ease-out;
    transition: transform 0.3s ease-in-out;
}

.form-container:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2), -10px -10px 30px rgba(0, 0, 0, 0.2);
}

h6,
h1,.signupbtn {
    margin: 0.5rem 0;
    border: none;
}
.show-password{
    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #84BC62;
    cursor: pointer;
}
 .forgot-password {
    color: #84BC62;

    cursor: pointer;
}
.input-group .other-icons {
    position: absolute;
    left: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #84BC62;
}

.input-group input {
    padding: 10px 2.5rem;
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid #ced0d4;
    border-radius: 0.5rem !important;
    transition: box-shadow 0.2s ease-in-out;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
    border-color: #84BC62;
    outline: 1px solid rgba(132, 188, 98, 0.3);
}

.signupbtn {
    background-color: #84BC62;
    width: 100%;
    padding: 0.75rem;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.signupbtn:hover {
    background-color: #6da450;
    transform: scale(1.05);
}

h1,
label,
h6,
input {
    color: #234110;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .form-container {
        margin: 3rem auto;
        padding: 1.5rem;
    }
}