/* Container styling */
.stock-container {
  width: 100%;
  max-width: 95%;
  background-color: #ffffff;
  box-shadow: 1px 2px 5px rgba(214, 212, 212, 0.432);
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  transition: transform 0.3s ease;
}

.stock-container:hover {
  transform: translateY(-3px);
  /* Optional hover effect */
}

/* Left section styling */
.stock-symbol{
  text-align: left;
  align-items: center;
  width: 20%;
  padding-left: 1rem;
}
.stock-name {
  text-align: left;
  align-self: center;
  width: 45%;
}
.stock-exchange{
  text-align: left;
  align-items: center;
  width: 10%;
}
.stock-status {
  text-align: left;
  align-items: center;
  width: 20%;
  cursor: pointer;
}

.stock-symbol h6 {
  font-size: large;
  color: #234110;
}

.stock-name h6 {
  color: #0f0a3f;
}

.stock-exchange h6 {
  font-size: large;
  color: #234110;
}

.status-badge h6 {
  font-size: 0.9rem;
  font-weight: bold;
}

/* Conditional badge colors */
.compliant {
  color: #6fc44e;
}

.non-compliant {
  color: #fc6060;
}

.stock-wishlist {
  width: 5%;
  text-align: right;
  padding-right: 1rem;
  cursor: pointer;
  color: #234110;
  font-size: large;
}

/* Responsive styling */
@media (max-width: 768px) {
  .stock-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .stock-namesymbol,
  .stock-exchangestatus {
    width: 100%;
    text-align: left;
  }

  .status-badge {
    width: 100%;
    text-align: right;
  }
}