.search-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.8rem;
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 76%; */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 5%; */
}

.pagination-btn {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.pagination-btn.active {
  background-color: teal;
  color: white;
}

.pagination-btn:hover {
  background-color: teal;
}

.search-container {
  width: 100%;
  max-width: 530px;
}

.search-container i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(64, 139, 34);
  /* Placeholder icon color */
  pointer-events: none;
  /* Make the icon unclickable */
}

.search-container input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  border-radius: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
}

.search-container input::placeholder {
  text-align: center;
}

.stocks-container {
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  /* position: fixed;
  left: 0;
  right: 0;
  bottom: 10%; */
}


.stock-container-heading{
  width: 100%;
  max-width: 95%;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0.1rem;
  transition: transform 0.3s ease;
}

.stock-symbol-heading h5{
  text-align: left;
  align-items: center;
  width: 20%;
  padding-left: 1rem;
  color: black;
}
.stock-name-heading h5{
  text-align: left;
  align-self: center;
  width: 45%;
  color: black;
}
.stock-exchange-heading h5{
  text-align: left;
  align-items: center;
  width: 10%;
  color: black;
}
.stock-status-heading h5{
  text-align: left;
  align-items: center;
  width: 20%;
  color: black;
}