/* Container styling */
.stock-container {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 5px rgb(0 0 0 / 30%);
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.stock-container:hover {
  transform: translateY(-3px);
  /* Optional hover effect */
}

/* Left section styling */
.stock-namesymbol {
  text-align: left;
  width: 65%;
}

.stock-namesymbol h6 {
  font-size: large;
  margin: 0;
  color: #234110;
}

.company-name {
  color: #0f0a3f;
  font-size: 1rem;
  margin: 0.3rem 0;
}

/* Right section styling */
.stock-exchangestatus {
  width: 30%;
  text-align: right;
}

.stock-exchangestatus h6 {
  font-size:large;
  margin: 0;
  color: #234110;
}

.stock-wishlist {
  width: 5%;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  color: #234110;
  font-size: x-large;
}

/* Badge styling */
.status-badge {
  display: inline-block;
  width: 100%;
  /* max-width: 300px; */
  border-radius: 5px;
  color: #fff;
  text-align: right;
  margin: 0.4rem 0;
  cursor: pointer;
  font-weight: bold
}

/* Conditional badge colors */
.compliant {
  color: #29a710;
}

.non-compliant {
  color: #d30606;
}

/* Responsive styling */
@media (max-width: 768px) {
  .stock-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .stock-namesymbol,
  .stock-exchangestatus {
    width: 100%;
    text-align: left;
  }

  .status-badge {
    width: 100%;
    text-align: right;
  }
}