.pagination {

    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .pagination-btn {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .pagination-btn.active {
    background-color: teal;
    color: white;
    border: 1px solid teal;
  }
  
  .pagination-btn:hover {
    background-color: #eaeaea;
  }
  